body {
    background-image: url("https://images2.alphacoders.com/774/774372.jpg");
    text-align: center;
    padding: 0 25px;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Charmonman', cursive;
    margin-left: -40px;
    color: rgba(0, 255, 221, 0.65)
}

#main, #chats {
    background-image: url("https://image.freepik.com/free-vector/grey-abstract-background_1077-4.jpg");
    width: 500px;
    text-align: left;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 25px;
    box-shadow: 0 0 15px 10px rgb(112, 112, 112);
}

#main {
    position: relative;
    top: 10px;
}

#chats {
    margin: auto;
    position: relative;
    top: 75px;
}
#main h1 {
    margin-top: -15px;
    font-size: 35px;
    margin-bottom: 55px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.username:hover {
    color: gray;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: red/*rgb(135, 255, 151)*/;
}

.message {
    word-wrap: break-word;
}

.messageBox {
    background-color: rgba(0, 255, 221, 0.4);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 0 15px 10px rgba(0, 255, 221, 0.8);
}

#profileBox {
    position: relative;
    
}

#profilePic {
    float: right;
    position: relative;
    left: 25px;
    bottom: 25px;
    height: 15%;
    width: 15%;
    border-radius: 50%;
}

#profileMessages, #profileFriends {
    color: rgba(0, 255, 221, 0.8);
    font-size: 14px;
    float: right;
    position: relative;
    top: 10px;
    left: 90px;
    margin-right: 10px;
}

#numProfileMessages, #numProfileFriends {
    font-size: 12px;
}

#profileUsername {
    font-size: 20px;
    float: right;
    position: relative;
    left: 15px;
    bottom: 15px;
    color: rgba(0, 255, 221, 1);
    font-weight: bold;
}

.friend {
    color: rgb(215, 168, 255);
    font-weight: bold;
}